html, body{
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/*
  initial das propriedades iniciais de box e box2
  as divs que eu vou usar para troansitar entre as versões
  da aplicação
*/

#box {
  display: none;
}

#box2 {
  display: block;

  height: 100vh;
  width: 100vw;
  
}


/*
  aqui eu separei o conteudo do site em dois blocos de conteudo "viagens no brasil" e "viagens para fora" usando o grid
*/
.container{
  height: 100vh;
  width: 95%;
  display: grid;

 
/*
  aqui eu crio uma coluna flexivel
  e
  duas linhas flexiveis 
*/
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

/*
  diastancia entre os blocos de conteudo
*/
  grid-gap: 50px;

  
  margin-left: 4%;

  

}

/*
  Conteudo viagens para o brasil
*/
.container-brasil{
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  

  
 
}

/*
  Conteudo viagens para fora do brasil
*/
.container-world{
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;

  

}

/*
  Linha 1
*/
.row1{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start ;

  



}

/*
  Linha 2
*/
.row2{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  
  /*
    espaçamento horizontal dos itens do container
  */
  grid-gap: 30px ;


}

.col{
  height: 100%;
  width: 100%;
  display: flex;

  /*
    espaçamento vertical dos itens do container
  */
  grid-gap: 30px ;
  
  /*Alinhamento dos itens do container*/
  justify-content: center;
  align-items: center;
}

.item{
  width: 100%;
  height: 100%;

}


.item img{
  width: 100%;
  height: 90%;

  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaaaaa;

  position: relative;
  
}

 .title{
  font-size:1rem ;

 
}

.text1{
  position: absolute;
  margin-top: -5%;
  margin-left: 0.9%;

  font-size: 17px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.text2{
  position: absolute;
  margin-top: -3.6%;
  margin-left: 0.9%;

  font-size: 22px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

}
.text3{
  position: absolute;
  margin-top: -3.6%;
  margin-left: 23.8%;
  

  font-size: 22px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

}
.text4{
  position: absolute;
  margin-top: -4.5%;
  margin-left: 23.6%;

  font-size: 12px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

}





@media screen and (max-width: 900px) {
  #box {
    display: block;
  }
}

@media screen and (max-width: 899px){

  *{
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  
  #box2 {
    display: none;


    height: 100vh;
    width: 50vw;
}

.container{
  height: 100%;
  width: 90%;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  grid-gap: 60px;

  margin-left: 5%;
  margin-top: 6%;

  justify-content: center;
  align-items: center;




}


.container-brasil{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
  grid-gap: 30px;
  
 
}

.container-world{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  grid-gap: 30px;

  padding-bottom: 50px;

}

.row1{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


}

.row2{
  
  height: 100%;
  width: 100%;

}

.items{
  display: flex;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;
  grid-gap: 40px;

}

.item{
  flex: none;
  width: 100%;
  height: 100%;
  position:  relative;
  
  scroll-snap-align: start;

  pointer-events: none;


}


img{
  width: 100%;
  height: 100%;

  object-fit: cover;

}

 .title{
  width: 100%;
  font-size:1.29rem;

  margin-left: 8%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
}
.t2{
  width: 100%;
  font-size: 1.39rem;

  margin-left: 8%;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 
}


.text1{
  position: absolute;
  margin-top: -17%;
  margin-left: 2.9%;

  font-size: 17px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}
.text2{
  position: absolute;
  margin-top: -12%;
  margin-left: 2.9%;

  font-size: 22px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

}
.text3{
  position: absolute;
  margin-top: -12%;
  margin-left: 80.8%;
  

  font-size: 22px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

}
.text4{
  position: absolute;
  margin-top: -15%;
  margin-left:  80.8%;

  font-size: 12px;
  font-family: -apple-system,Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

}




 
}
